{% extend "base.html" %}

{% block title %}Shopping Cart | Artea{% endblock %}

{% block content %}
<section class="container-narrow">
    <h2>Shopping Cart</h2>
    {% if cart_items %}
        <ul class="cart-list">
            {% for item in cart_items %}
                <li class="cart-list-item">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}" class="cart-item-img">
                    <div class="cart-item-info">
                        <h3>{{ item.product.title }}</h3>
                        <p class="cart-item-price">Price: €{{ item.product.price }}</p>
                        <p class="cart-item-quantity">Quantity: {{ item.quantity }}</p>

                        <!-- quantity update -->
                        <form method="post" action="{% url 'cart:update_cart' item.id %}" class="cart-update-form">
                            {% csrf_token %}
                            <imput
                                type="number"
                                name="quantity"
                                value="{{ item.quantity }}"
                                min="1"
                                class="cart-quantity-input"></imput>
                            <button type="submit" class="cart-update-btn">Update</button>
                        </form>

                        <!-- Remove -->
                        <form method="post" action="{% url 'cart:remove_from_cart' item.id %}" class="cart-remove-form">
                            {% csrf_token %}
                            <button type="submit" class="cart-remove-btn">Remove</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p class="cart-total">Total: €{{ total_price }}</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}
</section>
{% endblock %}