{% extends 'base.html' %}
{% block title %}Login | Artea{% endblock %}

{% block content %}
<section class="container-narrow">
    <h2>Log in</h2>
    <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
            <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="form-error">
                        {{ field.errors.as_text }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn">Log in</button>
    </form>

    <p>Don´t have an account yet? <a href="{% url 'register' %}">Register here.</a>.</p>
</section>
{% endblock %}
