{% extends 'base.html' %}
{% load static %}

{% block title %}Payment Successful | Artea{% endblock %}

{% block content %}
<section class="container-narrow success-section">
    <h2>🎉 Thank you for your payment!</h2>
    <p>Your design is now available under <strong><a href="{% url 'orders:completed_designs' %}">My Designs</a></strong>.</p>
    <p>You can download it anytime from your account.</p>

    <a href="{% url 'completed_designs' %}" class="btn btn-primary">Go to My Designs</a>
</section>
{% endblock %}