{% extends 'base.html' %}

{% block title %}Products | Artea{% endblock %}

{% block content %}
<section class="container-narrow">
    <h2>Our Products</h2>
    <div class="product-grid">
        {% for product in products %}
            <article class="product-card">
                <a href="{% url 'products:product_detail' product.pk %}">
                    <figure>
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.title }}">
                        {% else %}
                            <img src="{{ static 'images/default_product.jpg' }}" alt="No image available">
                        {% endif %}
                        <figcaption>
                            <h3>{{ product.title }}</h3>
                            <p class="price">€{{ product.price }}</p>
                        </figcaption>
                    </figure>
                </a>
                <form action="{% url 'cart:add_to_cart' product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary mt-2">Add to cart</button>
                </form>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
