{% extends 'base.html' %}

{% block title %}{{ product.title }} | Artea{% endblock %}

{% block content %}
<section class="container-narrow product-detail">
    <h2>{{ product.title }}</h2>
    <figure>
        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-detail-image">
        <figcaption>{{ product.description }}</figcaption>
    </figure>
    <p class="price">€{{ product.price }}</p>
    <a href="{% url 'products:product_list' %}" class="btn">Back to Products</a>
</section>
{% endblock %}
