{% extends 'base.html' %}

{% block title %}Products | Artea{% endblock %}

{% block content %}
<section class="container-narrow">
    <h2>Our Products</h2>
    <div class="product-grid">
        {% for product in products %}
            <article class="product-card">
                <a href="{% url 'products:product_detail' product.pk %}">
                    <figure>
                        <img src="{{ product.image.url }}" alt="{{ product.title }}">
                        <figcaption>
                            <h3>{{ product.title }}</h3>
                            <p class="price">€{{ product.price }}</p>
                        </figcaption>
                    </figure>
                </a>
            </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
