{% extends 'base.html' %}

{% block title %}Products | Artea{% endblock %}

{% block content %}
<section class="container-narrow">
    <h2>Products</h2>
    <div class="product-grid">
        {% for product in products %}
            <div class="product-card">
                <a href="{% url 'product_detail' product.pk %}">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    <h3>{{ product.title }}</h3>
                    <p>€{{ product.price }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
